<footer class="footer">
    <!-- <div class="section__svg">
        {{ partial "partials/shared/sectionheader.html" . }}
    </div> -->
    <p>
        Made by <a href="https://blackmad.com" target="_blank" rel="nofollow noreferrer noopener">David Blackman</a>
        based on a <a href="https://github.com/SarahFrench/wedding-website?tab=readme-ov-file" target="_blank" rel="nofollow noreferrer noopener"></a>template</a>
        by <a href="https://github.com/SarahFrench" target="_blank" rel="nofollow noreferrer noopener">Sarah French</a>
        :)
    </p>
</footer>