<header class="header">
    <div class="header__image-container">
        <img src="/image/hands.png" alt="Hands" class="header__image" style="max-width: 50vw; -webkit-filter: drop-shadow(5px 5px 5px rgba(163, 218, 214, 0.5)) sepia(20%) hue-rotate(340deg) saturate(120%); filter: drop-shadow(5px 5px 5px rgba(163, 218, 214, 0.5)) sepia(20%) hue-rotate(340deg) saturate(120%);">
        <h1 class="header__overlay-text header__text--light" style="text-shadow: 2px 2px 4px rgba(255, 111, 97, 0.4);">DAVID AND YUVA</h1>
    </div>
    <p class="header__text header__text--light">...are getting married!</p>
    <p class="header__text header__text--heavy">Tuesday, 1st July 2025</p>
</header>
