<header class="header">
    <div class="header__image-container rotate-landscape">
        <img src="/image/hands-tall.png" alt="Hands" class="mobile header__image" style="padding-bottom: 5vh; max-height: 50vw; ">
        <img src="/image/hands.png" alt="Hands" class="desktop header__image" style="max-width: 50vw; ">
    </div>
    <p class="header__text header__text--heavy">DAVID & YUVA</p>
    <br>
    <p class="header__text header__text--light">...are getting married!</p>
    <p class="header__text header__text--light" style="text-transform: uppercase; font-size: 1rem;">Tuesday, 1st July 2025</p>

</header>
