<div class="nav-mobile">
    <div id="nav-mobile-menu-button" class="nav-mobile__button">
      <div id="nav-mobile-menu-burger" class="nav-mobile__burger"></div>
    </div>
    <nav id="nav-mobile-menu" class="nav-mobile__menu">
      <a class="nav-mobile__link" href="/landing#when">Wedding Day</a>
      <a class="nav-mobile__link" href="/landing#weekend-plan">Weekend Plan</a>
      <!-- <a class="nav-mobile__link" href="/travel">Travel</a>  -->
      <a class="nav-mobile__link" href="/landing#travel-and-accommodation">Travel and Accommodation</a>
      <a class="nav-mobile__link" href="/landing#attire">Attire</a>
      <!-- <a class="nav-mobile__link" href="#facilities-accessibility">Facilities</a> -->
      <a class="nav-mobile__link" href="/landing#gifts">Gifts</a>
      <a class="nav-mobile__link" href="/landing#more">More Info</a>
      <a class="nav-mobile__link rsvp-button rsvp-nav" href="https://docs.google.com/forms/d/1nDyh9RoSdh8i8fUv-KtVHVKVhsI33xHKnXWOeVYsYMI">RSVP</a>
    </nav>
  </div>
  <nav class="nav-desktop">
    <a class="nav-desktop__link" href="/landing#when">Wedding Day</a>
    <a class="nav-desktop__link" href="/landing#weekend-plan">Weekend Plan</a>
    <!-- <a class="nav-desktop__link" href="/travel">Travel</a> -->
    <a class="nav-desktop__link" href="/landing#travel-and-accommodation">Travel and Accommodation</a>
    <a class="nav-desktop__link" href="/landing#attire">Attire</a>
    <!-- <a class="nav-desktop__link" href="#facilities-accessibility">Facilities</a> -->
    <a class="nav-desktop__link" href="/landing#gifts">Gifts</a>
    <a class="nav-desktop__link" href="/landing#more">More Info</a>
    <a class="nav-desktop__link  rsvp-button rsvp-nav" href="https://docs.google.com/forms/d/1nDyh9RoSdh8i8fUv-KtVHVKVhsI33xHKnXWOeVYsYMI">RSVP</a>
  </nav>